{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard.
            You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}.
        </p>
    {% endwith %}
    <p>Drag the following button to your bookmarks toolbar
       to bookmark images from other websites →
       <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">Bookmark it</a>
    </p>
    <p>
        You also can upload image to your account ->
        <form action="{% url 'images:upload' %}" enctype="multipart/form-data"  id="uploadImageForm" method="post">
            <input id="uploadImageInput" name="image" type="file">
            <a id="uploadImageUrl" target="_blank" style="margin-left:15px;">See uploaded image here</a>
            <input type="text" name="title" placeholder="Title">
            <textarea name="description">Your description here</textarea>
            
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
    </p>
    <p>
        You can also <a href="{% url 'edit' %}">edit your profile</a> 
        or <a href="{% url 'password_change' %}">change your password</a>.
    </p>
    <h2>What's happening</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}
    </div>

    <script>
        const fileInput = document.getElementById('uploadImageInput')
        const urlInput = document.getElementById('uploadImageUrl')
        uploadImageInput.addEventListener('change', function(){
            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const fileUrl = URL.createObjectURL(file);
                urlInput.href = fileUrl;
            }
            else {
                urlInput.href = '';
            }
        })
    </script>
{% endblock %}